/* h1{
    color: blue;
}


li {
    color: rgb(0, 3, 200);
}



p {
    color: #eab01c;
}

h4 {
    color: rgba(13, 90, 140, 1);
} */

/* body{
    background: url(https://plus.unsplash.com/premium_photo-1676009619407-18a5121f9687?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
} */

div {
    background: blue;
    border: orange 2px dashed;
}


span {
    color: black;
}